<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<section class="bg-[#2A2A2A]">
  <div class="mx-auto size-fit py-10 m-10 sm:px-3 lg:px-8">
    <div class="space-y-3 text-center">
      <h1 class="text-[#F5EBDD] text-2xl font-medium">Encontre seu próximo filme favorito</h1>
      <p class="text-[#6C6C6C]">Pesquise entre milhares de filmes com nossas análises e classificações detalhadas</p>
      
      <form class="flex flex-row">
        <div class="relative flex-grow">
          <span class="absolute inset-y-0 left-3 flex items-center text-gray-400">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" 
                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z"></path>
            </svg>
          </span>
          <input
            type="search"
            placeholder="Pesquise por filmes, diretores, atores..."
            class="placeholder-[#9CA3AF] w-full rounded-l-md border border-neutral-600 bg-neutral-800 pl-10 py-2 py-3 text-sm focus:outline-none focus:ring-1 focus:ring-yellow-500"
          />
        </div>
        
        <button
          type="submit"
          class="rounded-r-xl bg-[#D4A55D] px-4 py-2 text-sm font-semibold hover:bg-yellow-500"
        >
          Buscar
        </button>
      </form>
    </div>
  </div>
</section>