<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<section class="bg-[#8C2F39]">
    <div class="max-w-lg mx-auto py-6 m-10 sm:px-3 lg:px-8">
        <div class="text-center space-y-6 ">
            <span class="flex items-center justify-center ">
                <img src="assets/img/logoWhite.svg" alt="">
            </span>
            <h1 class="text-2xl font-medium">Seja Um Crítico</h1>
            <p>Compartilhe sua opinião, descubra novos filmes favoritos e conecte-se com outros cinéfilos.
            Crie uma conta para avaliar filmes, escrever resenhas e receber recomendações
            personalizadas.</p>
            <button class="bg-[#DBDBD8] rounded-md  px-4 py-2 text-sm font-semibold hover:bg-[#A9A2A2] ">Cadastre-se Agora</button>
        </div>
    </div>
</section>